//#### Palette of site
@color_primary: #EF1C26;
@color_secondary: #232323;
@color_secondary-dark: #121212;
@color_black: #000;
@color_white: #FFF;
@color_green-light: #4EDA92;
@color_green-dark: #28A745;
@color_yellow: #FFC107;

//#### Additional interface colors
@color_white-light: #EEE;
@color_grey-light: #CCC;
@color_grey-dark: #555;

.rate-high {
    font-weight: bold;
    color: @color_green-light;
}
.rate-middle {
    color: @color_yellow;
}
.rate-low {
    color: @color_primary;
}

.active-item {
    background-color: @color_grey-dark !important;
}

.hidden {
    display: none;
}