.rate-high {
    font-weight: bold;
    color: #4eda92
}

.rate-middle {
    color: #ffc107
}

.rate-low {
    color: #ef1c26
}

.active-item {
    background-color: #555 !important
}

.hidden {
    display: none
}